#main {
    display: flex;
    width: 80%;
    margin: auto;
    position: relative;
    min-height: 100vh;
    text-align: left;
}
#featured {
    width: 100%;
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    cursor: pointer;
}

#featured div {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    line-height: 15px;
    height: auto;
}
#left>h1{
    font-size: 44px;
    margin-top: 6px;
    margin-left: -1%;
}

#bucket,
#tender,
#sand,
#fried_chicken,
#pot,
#slide,
#beverages,
#desserts,
#sauce {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    line-height: 15px;
    cursor: pointer;
}

#bucket div,
#tender div,
#sand div,
#fried_chicken div,
#pot div,
#slide div,
#beverages div,
#desserts div,
#sauce div {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
}

#left {
    width: 20%;
    position: fixed;
    margin-left: -1%;
    text-align: left;
}

#right {
    width: 80%;
    margin-top: 60px;
    margin-left: 300px;
}
.Button {
    color: white;
    background-color: #E4002B;
    padding: 10px 45px 10px 45px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 1%;
    border: none;
}
h3 {
    font-weight: bold;
}
.Button:hover {
    background-color: rgb(130, 8, 8)
}
/* .Button:active {
    background-color: rgb(130, 8, 8);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */
#left p:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration-line: underline;
}
#left p {
    font-size: larger;
    line-height:30px;
    color: black;
    margin-top: -5px;
}
#featured div p,
#bucket div p,
#tender div p,
#sand div p,
#fried_chicken div p,
#pot div p,
#slide div p,
#beverages,
#desserts,
#sauce div p
 {
     color: black;
    font-size: 16px;
}
.hover {
    display:grid;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hover:hover,
.hover:focus,
.hover:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
} 